.main_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(8, 121, 177) ;
    margin-top: 2vw;
    color: white;
    height: 20vw;
    width: 100%;
    font-size: 4vw;
    background: hsla(272, 78%, 16%, 1);
    background: linear-gradient(90deg, hsla(272, 78%, 16%, 1) 0%, hsla(17, 60%, 52%, 1) 100%);
}

.main_title {
    text-shadow: 2px 2px black;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fffff0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1vw 2vw;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

footer {
    background-color: black;
    width: 100%;
    margin-top: -2vw;
    height: 12vw;
    color: white;
}

.introduction_to_diversity {
    display: flex;
}

.diversity_advantages {
    display: flex;
}

h2 {
    border-color: black;
    border-style: groove;
    border-width: thin;
    width: min-content;
    color: black;
}   

.paragraphs {
    padding: 2vw;
    border-color: black;
    border-style: groove;
    border-width: thin;
    color: black;
}

li.hvr-sink {
    display: block;
}

