.main_title {
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 20vw;
    width: 100%;
    font-size: 4vw;
    background: hsla(272, 78%, 16%, 1);
    background: linear-gradient(90deg, hsla(272, 78%, 16%, 1) 0%, hsla(17, 60%, 52%, 1) 100%);
}

body {
    font-family: "Spline Sans", sans-serif;
    margin: 0;
    background-attachment: fixed;
}

.main_text {
    background-color: rgb(18, 70, 129);
}

footer {
    padding: 1vw;
    background-color: rgb(57, 121, 167);
    width: 100%;
    height: auto;
    color: white;
}

h2 {
    font-weight: bolder;
    color: black;
}   

.navbar {
    background-color: rgb(57, 121, 167);
}

@media (width < 576px) {
    .main_title {
        margin-top: 15vw;
        height: 30vw;
    }
}

